@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: none;
    
    font-family: 'Inter',sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    background: url(gb.png);
    --webkit-linear-gradient:(bottom, #7a1c79, #a61ebb);
    background-image: radial-gradient( circle farthest-corner at 12.3% 19.3%,  #7a1c79 0%, rgb(105, 4, 228) 100.2% );
}
::selection{
    color: #fff;
    background: #7a1c79;
}

.container{
    width: 330px;
    background: #fff;
    text-align: center;
    border-radius: 0px 6px 6px 0px;
    padding: 30px 35px 0px 35px;
}
 .Form-image{
    width: 55%;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: #dfd1fc; 
    border-radius: 6px 0px 0px 6px;
    padding: 150px 30px 10px 35px;;
}
.container header h1 {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 10px 0;

}

.container header h1::after {
    content: ''; 
    display: block;
    width: 10rem;
    height: 0.3rem;
    background-color: #6c63ff;
    margin:  auto;
 
    border-radius: 10px;
}





.container .form-outer{
    width: 100%;
    overflow: hidden;
}
.container .form-outer form{
    display:flex;
    width: 400%;
}
.form-outer form .page .title{
    text-align: left;
    font-size: 25px;
    font-weight: 600;
    color: #000000c0;
}
.form-outer form .page .field{
    width: 330px;
    height:45px;
    margin:45px 0;
    display:flex;
    position: relative;
}
form .page .field .label{
    position:absolute;
    top: -30px;
    font-size: 0.75rem;
    font-weight: 600;
    color: #000000c0;
}
form .page .field input{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius:5px;
    padding-left: 15px;
    font-size: 0.8rem;
    font-weight: 500;
    box-shadow: 1px 1px 6px #0000001c;
}
form .page .field input:hover{
    background-color: #eeeeee75;
}

form .page .field input::placeholder{
    color: #000000be;
}

/*
form .page .field input:focus-visible{
    outline: 0.2px solid #6c63ff;
}
*/

form .page .field select{
    background: white;
    width: 100%;
    padding-left: 10px;
    font-size: 0.8rem;
    font-weight: 500;
    border: 1px solid lightgrey;
}
form .page .field button{
    width: 100%;
    height: calc(100% + 5px);
    border:none;
    background:rgb(105, 4, 228); /**/ 
    margin-top: -20px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s ease;
}
form .page .field button:hover{
    background: #7a1c79;
}
form .page .btns button{
    margin-top: -20px!important;
}
form .page .btns button.prev{
    margin-right: 3px;
    font-size:17px;
}
form .page .btns button.next{
    margin-left: 3px;
}
.container .progress-bar{
    margin:0;
    display: flex;
    
    user-select: none;
}
.container .progress-bar .step{
    text-align: center;
    width: 100%;
    position: relative;
}
.container .progress-bar .step p{
    font-weight: 500;
    font-size: 18px;
    color: #000;
    margin-bottom: 8px;
}
.progress-bar .step .bullet{
    height:25px;
    width: 26px;
    border: 2px solid #000;
    display: inline-block;
    border-radius:50%;
    position: relative;
    transition:0.2s;
    font-weight: 500;
    font-size: 17px;
    line-height:25px;
}
.progress-bar .step .bullet.active{
    border-color: #a61ebb;
    background: #a61ebb;
    color: white;
}
.progress-bar .step .bullet span{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
    position: absolute;
    content: '';
    bottom: 11px;
    right:-40px;
    height: 3px;
    width:40px;
    background: #262626;
}
.progress-bar .step .bullet.active:after{
    background: #a61ebb;
    transform: scaleX(0);
    transform-origin: left;
    animation:animate 0.3s linear forwards;
}

@keyframes animate {
    100%{
        transform: scaleX(1);
    }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
    display: none;
}
.progress-bar .step p.active{
    color: #7a1c79;
    transition:0.2s linear;
}
.progress-bar .step .check{
    position:absolute;
    left:50%;
    top: 70px;
    font-size: 15px;
    transform: translate(-50%, -50%);
    display: none;
}
.progress-bar .step .check.active{
    display: block;
    color: #fff;
}


@media screen and (max-width: 1200px) {
    .Form-image {
        display: none;
    }
    .container {
     
           
            background: #fff;
            text-align: center;
            border-radius: 0px 6px 6px 0px;
            padding: 30px 35px 0px 35px;
        
        width: 70%;
    }
    form .page .field input{
        height: 90%;
        width: 87%;
        border: 1px solid lightgrey;
        border-radius:5px;
        padding-left: 15px;
        font-size: 14px;
        font-weight: 500;
    }

    form .page .field button{
        width: 93.1%;
        height: calc(100% + 6px);
        border:none;
        background:rgb(105, 4, 228); /**/ 
        margin-top: -20px;
        border-radius: 5px;
        color: #fff;
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: 0.5s ease;
    }

    form .page .btns button.prev{
        margin-right: 3px;
        font-size:17px;
        width: 45.1%;

    }
    form .page .btns button.next{
        margin-left: 1px;
        width: 45.1%;
    }
    
    .progress-bar .step .bullet{
        height:25px;
        width: 21.9px;
        border: 2px solid #000;
        display: inline-block;
        border-radius:50%;
        position: relative;
        transition:0.2s;
        font-weight: 500;
        font-size: 17px;
        line-height:25px;
        
    }

    form .page .field select{
        background: white;
        width: 92%;
        padding-left: 10px;
        font-size: 0.8rem;
        font-weight: 500;
        border: 1px solid lightgrey;
    }


    form  .pag2 .field input {
        height: 90%;
        width: 83%;
        border: 1px solid lightgrey;
        border-radius:5px;
        padding-left: 15px;
        font-size: 14px;
        font-weight: 500;
        background: red;
    }


    form .pag2 .btns button.next {
        margin-left: 1px;
        width: 40.1%;
      }

      form .pag2 .field select {
        background: white;
        width: 85%;
        padding-left: 10px;
        font-size: 0.8rem;
        font-weight: 500;
        border: 1px solid lightgrey;
      }
      
      .form-outer form .pag3 .title {
        text-align: left;
        font-size: 22px;
        font-weight: 600;
        color: #000000c0;
      }
      
    form  .pag3 .field input {
        height: 90%;
        width: 83%;
        border: 1px solid lightgrey;
        border-radius:5px;
        padding-left: 15px;
        font-size: 14px;
        font-weight: 500;
        background: red;
    }


    form .pag3 .btns button.next {
        margin-left: 1px;
        width: 34%;
      }

      form .pag3 .field select {
        background: white;
        width: 84%;
        padding-left: 10px;
        font-size: 0.8rem;
        font-weight: 500;
        border: 1px solid lightgrey;
      }
   
}